/vendor/
/node_modules/
.env
.env.backup
.env.*.backup
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
bootstrap/cache/*.php
.idea/
.vscode/
*.DS_Store
Thumbs.db
